@import "../../styles/colors.scss";

.surveyListWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .headerWrap{
    display: flex;
    background-color: $primary;
    border-top: 40px solid $primaryDark;
    justify-content: center;

    .headerContent{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 800px;
      flex-grow: 1;
      padding: 24px 40px;

      img {
        width: 60px;
        align-self: center;
      }

      .logoutWrap{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        color: $white;

        span {
          font-size: 16px;
          margin-bottom: 8px;
        }

        a {
          color: $white;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }

        }
      }

    }
  }

  .contentWrap{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 40px;

    h2{
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }
}